@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/fonts/TestFoundersGrotesk-Bold.otf') format('opentype');
  /* Add other font formats here if needed */
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'FoundersGrotesk', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* .banner{
  background-image: url(../../public/fashion.gif);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* globals.css */


/* Custom styling for slick */
.slick-dots li button:before {
  color: grey; /* Customize dot color */
  
}
.slick-dots li.slick-active button:before {
  color: black; /* Customize active dot color */
}
